!!!
%html.no-js{:lang => 'en-US'}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{:charset => 'utf-8'}
    %meta{:content => 'ie=edge', 'http-equiv' => 'x-ua-compatible'}
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}
    %title Morse Code Tutorial
    %link{:href => 'css/foundation.min.css', :rel => 'stylesheet'}
    %link{:href => 'css/app.css', :rel => 'stylesheet'}
  %body
    ~ content
    %script{:src => '/js/jquery.min.js'}
    %script{:src => '/js/foundation.min.js'}
    %script{:src => '/js/utilities.js'}
    %script{:src => '/js/tutorial.js'}
    -if page.script
      %script{:src => page.script}
    -if page.script2
      %script{:src => page.script2}
    :javascript
      $(document).foundation();
