---
title: 500 Internal Server Error
layout: general
---
.row.columns
  .text-content
    %h1 #{page.title}
    .italics
      %p Something has gone wrong on the server side.
      %p Please try again after a while.
      %p If you know the owner, please let him know so that he can resolve the issue.
